name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:        
        node: [20, 22]

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 10

    - name: Setup FirebirdSQL
      uses: juarezr/firebirdsql-github-action@v2.0.3
      with:
        version: '3'
        firebird_root_password: 'masterkey'
        firebird_conf: 'WireCrypt=Enabled,AuthServer=Legacy_Auth;Srp;Win_Sspi'

    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}


    - name: Build
      shell: bash
      run: |
        npm ci         

    - name: Test (Linux)      
      run: |
        export FIREBIRD_DATA=/var/lib/firebird/data
        npm test
