name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:        
        node: [20, 22]
        firebird-version: ['v3']

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 10

    - name: Setup FirebirdSQL container
      uses: juarezr/firebirdsql-github-action@v2.0.1
      with:
        version: ${{ matrix.firebird-version }}
        firebird_root_password: "masterkey"
      env:
        FIREBIRD_CONF_WireCrypt: "Enabled"
        FIREBIRD_CONF_AuthServer: "Legacy_Auth, Srp, Win_Sspi"

    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node }}


    - name: Build
      shell: bash
      run: |
        npm ci         

    - name: Test (Linux)      
      run: |
        export FIREBIRD_DATA=/firebird/data
        npx nyc npm test
